{
    margin:0;
    padding:0;

}
header{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0, 0.3)) ,url('Lotus.jpg');
    background-size: cover;

}
nav{
    position:sticky;
    width:100;height:10vh;background:rgb(0,0,0,0.2);
    color:white;display:flex;justify-content:space-between;
    align-items:center;text-transform: uppercase;
}
nav .logo{
    width:20%;text-align:center;
    

    
        animation: beat .25s infinite alternate;
        transform-origin: center;
    }
    
    
    @keyframes beat{
        to { transform: scale(1.4); }
    }
    
    
}
nav .menu{
    width:120px; ;
    display: inline-flex; justify-content: space-around;

}
nav .menu a{
    width:120px;
    margin: 15px;
    padding :15px;
    text-decoration: none;color: white;



}

main{
    width:100;height: 85vh;
    display: flex;justify-content:center ;text-align: center;align-items: center;
color: rgb(37, 22, 120);
}

section h3{
    font-size: 30px;
    text-shadow:1px 1px 2px black;

        animation: beat .25s infinite alternate;
        transform-origin: center;
    }
    
    @keyframes beat{
        to { transform: scale(1.4); }
    }
    


section h1{
    font-size:  50px;
    font-weight:700px ;
     color:rgb(122, 57, 119) ;
    text-shadow: 2px 1px 5px black;
    font-style:italic;
    
}
section .button1{
    background: navy ;text-size:5px;
    color:white; text-decoration: none;
}
