{
    margin:0;
    padding:0;

}



nav{
    width: 100%;height:15Svh;

    color:blue; display: flex; justify-content: space-between;
    align-items: center;text-transform: uppercase;
}
nav .logo{
    width:20%; text-align: center;
    font-size: 15px;

    
        animation: beat .75s infinite alternate;
        transform-origin: center;
    }
    
    
    @keyframes beat{
        to { transform: scale(1.4); }
    }
    nav.logo span {
        color: black;
    }

nav .menu{
    font-size: 16px;
    width: 60%;
    display: flex; justify-content: space-around;
font-style: bold;
}
nav .menu a
{
    width:20px;
    margin: 15px;
    padding :15px;
    text-decoration: none;color: rgb(31, 22, 192);
font-style: bold;
}
nav .menu a:first-child{
color:#e74c3c;
}
nav .menu a:hover{
color: #e74c3c;
}
